@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/Lato-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato/Lato-Black.woff2") format("woff2"), url("../fonts/Lato/Lato-Black.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

.page {
   position: relative;

   font-family: "Lato";

   display: flex;
   flex-direction: column;
}

.page .main {
   flex-grow: 1;
}

[class*="container"] {
   max-width: 1230px;
   margin: 0 auto;
   min-width: 600px;
}

.response__container {
   margin-top: 100px;
   display: flex;
   column-gap: 90px;
}

.response__img {
   flex: 0 1 435px;
   align-self: center;
}
.response__img img {
   width: 100%;
}

.response__action-box {
   overflow: hidden;
   flex: 0 1 705px;
}

.response__actions-form {
   /*  Тут емітація %ки + Gap 1/2 */
   margin: 0 -12.5px;

   display: flex;
   row-gap: 24px;
   flex-wrap: wrap;
   align-content: flex-start;
}
.response__actions-form .element {
   /*  Тут емітація %ки + Gap 2/2 */
   padding: 0 12.5px;
}

.response__title {
   margin-bottom: 16px;
   flex: 0 1 100%;
}
.title {
   color: #1e212c;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 8px;
}
.title__subtitle {
   font-weight: 700;
   line-height: 150%;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.title__text {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   min-width: 170px;
}

.input-box {
   flex: 0 1 50%;
   display: flex;
   flex-direction: column;
   row-gap: 8px;

   color: #424551;
   min-width: 170px;
}
.input-box__label {
   line-height: 160%;
}
.input-box__input {
   font-family: inherit;
   color: inherit;
   padding: 13px 16px;
   border: 1px solid #d7dadd;
   border-radius: 4px;
}
.input-box__input::placeholder {
   color: #9a9ca5;
}
.input-box__input:focus,
.akcept-box__label:focus::before {
   outline: none;
   border: 1px solid rgba(255, 63, 58, 0.4);
   box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.05),
      0px 12px 10px -6px rgba(255, 63, 58, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.message {
   flex: 1 1 100%;
}
.message .input-box__input {
   height: 128px;
   resize: none;
}

.akcept-box {
   /*  Щоб checkbox не полетів далеко  */
   position: relative;
   margin-top: 24px;
   flex: 1 1 100%;

   display: flex;
   flex-wrap: wrap;
   row-gap: 24px;
}

.akcept-box__label:focus {
   outline: none;
   text-decoration: underline;
}

.akcept-box__checkbox {
   position: absolute;
   height: 0px;
   width: 0px;
   opacity: 0;
}
.akcept-box__label {
   line-height: 160%;
   color: #424551;
   cursor: pointer;
   padding-right: 50px;
   flex: 0 0 365px;

   display: inline-flex;
   gap: 12px;
}
.akcept-box__label::before {
   content: "";
   height: 16px;
   border: 1px solid #b3b7bc;
   border-radius: 3px;
   margin-top: 6px;
   flex: 0 0 16px;
}

.akcept-box__checkbox:checked + .akcept-box__label::before {
   background: #f75e05 url("../img/ico/check.svg") center no-repeat;
   border: none;
}

.akcept-box_button {
   flex: 0 1 340px;
   white-space: nowrap;
}

.button {
   background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
   font-weight: 700;
   color: white;
   border-radius: 4px;
   letter-spacing: 0.5px;
   line-height: 1.25;
   padding: 16px;
   align-content: center;
   align-self: flex-start;
}
.button:hover {
   background: linear-gradient(55.95deg, #f75e05 0%, #ff3f3a 100%);
}
.button:focus {
   outline: none;
}

/* --------------- PRACTIC----------------- */

.practic {
   margin-top: 100px;
}

.practic__form {
   display: flex;
   justify-content: center;
   gap: 25px;
   flex-wrap: wrap;
}

.component {
   padding: 5px;
   display: flex;
   flex-direction: column;
   gap: 8px;
   flex: 0 0 280px;
}

.component__input {
   border: 1px solid #d7dadd;
   border-radius: 4px;
   width: 100%;
   padding: 5px;

   flex: 0 0 40px;
}

.component__input:focus {
   outline: none;
}

/* CheckBox */
.skils {
   padding: 5px;
   display: flex;
   flex: 0 0 280px;
   flex-direction: column;
   row-gap: 8px;
}
.skils__box {
   border: 1px solid #d7dadd;
   flex: 0 0 40px;

   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.skils__input {
}

.skils__item label {
   cursor: pointer;
}

.button-panel {
   margin-bottom: 100px;

   flex: 1 1 100%;
   display: flex;
   gap: 25px;
   justify-content: center;
}

.button-panel .button {
   flex: 0 0 170px;
}
